*{
	box-sizing: border-box;
}

.wrapper{
	max-width: 775px;
	margin: 0 auto;
	padding: .4em;
	text-align: center;
	z-index: 20;
	font-family: 'Josefin Slab';
	font-weight: 600;
}

/********** nav ***********/
nav {
	background-color: rgba(204, 0, 0, .9);
}

nav ol {
	text-align: right;
	padding: 2.5em;
	margin: 0 auto;
}

nav li {
	display: inline-block;
}

nav a {
	font-family: 'Josefin Slab', cursive;
	font-size: .75rem;
	font-weight: 500;
	color: #eee;
	text-decoration: none;
	padding: 1.5em .9em;
}

nav a:hover {
	background: #eee;
	color: rgba(204, 0, 0, .9);
	border-radius: 30px;
}




/********** top section ***********/
.hero{
	background-image: url('../img/statue2.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	width: 100%
	margin: 0 auto;
	padding: 4em;
	z-index: 10;
}

blockquote{
	margin: 0 auto;
	text-align: center;
	font-family: 'Fredericka the Great', cursive;
	color: white;
	font-size: 2rem;
	background-color: rgba(0, 0, 0, .5);
	z-index: 20;
	padding: 1em;
}

.logo{
  position: absolute;
  left: 5%;
  top: 7%;
  width: 20%;
  z-index: 10;
  margin: 0 auto;
  text-decoration: none;
   transform: translate(0, -50%);

}

h2{
	font-weight: 900;
}

.section1{
	margin: 0 auto;
	color: rgba(204, 0, 0, .9);
	padding: 1em 1em 1em 1em;
}

.section2{
	margin: 0 auto;
	color: rgba(204, 0, 0, .9);
	padding: 1em 1em 1em 1em;
}

.section3{
	margin: 0 auto;
	color: rgba(204, 0, 0, .9);
	padding: 1em 1em 1em 1em;
}

footer{
	background-color: rgba(204, 0, 0, .9);
	font-family: 'Josefin Slab';
	color: white;
	padding: 1em 1em 1em 1em;
	text-align: center;
	width: 100%;
}

@media only screen and (min-width: 48em) {
	.logo {
		float: right;
		width: 100%;
		min-width: 10%;
		max-width: 20%;
	}

	.hero {
		float: left;
		width: 100%;
		min-width: 33%;
		max-width: 100%;
	}

	blockquote {
		float: left;
		width: 50%;
		min-width: 33%;
		max-width: 100%;
	}

	.section1 {
		float: left;
		width: 100%;
		background-color: white;
	}

	.section2 {
		float: left;
		width: 100%;
		background-color: white;
	}

	.section3 {
		float: left;
		width: 100%;
		background-color: white;
	}
}


@media only screen and (min-width: 48em) {
	.logo {
		left: 50%;
	  	top: 50%;
	  	transform: translate(-60%, -180%);
	  	width: 15%;
	}

	.hero {
		float: left;
		width: 100%;
		min-width: 33%;
		max-width: 100%;
	}

	blockquote {
		float: left;
		width: 50%;
		min-width: 33%;
		max-width: 100%;
	}

	.section1 {
		float: left;
		width: 100%;
		background-color: white;
	}

	.section2 {
		float: left;
		width: 100%;
		background-color: white;
	}

	.section3 {
		float: left;
		width: 100%;
		background-color: white;
	}
}


@media only screen and (max-width: 50em) {
	.hero {
		float: right;
		width: 100%;
	}

	blockquote {
		float: left;
		width: 100%;
	}

	.section1 {
		float: left;
		background-color: white;
		max-width: 475px;
		margin: 0 auto;
		text-align: center;
	}

	.section2 {
		float: left;
		width: 100%;
		background-color: white;
	}

	.section3 {
		float: left;
		width: 100%;
		background-color: white;
	}
}
